body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  font-size: medium;
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/410/867/750/vector-forest-sunset-forest-sunset-forest-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity:5;
}
h1 {
  text-align: center;
  margin-top: 20px;
}

.maindiv
{
  margin:0;
  padding: 0;

}
 .container {
  
  margin: 20px auto;
  max-width: 600px; 
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width:150px;
}
button:hover{
  background-color:blue;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width:480px)
{
  .container {

    max-width: 400px; 
    
  }
  
}